ul{
  padding-left: 5px;
}

li{
  list-style-type: none;
}


.content{
  position: fixed;
  padding: 2px;
  margin: 2px;
  background-color: #ddf0ff;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  width: 192px;
  border: 3px solid #eaf3fa

}

.subject{
  margin-left: 200px;
  background-color: white;
  padding: 3px;


}
